html {
    background-color: whitesmoke;
}

body {
    max-width: 1280px;
    background-color: whitesmoke;
    margin: auto;
}

header {
    background-color: whitesmoke;
    width: 1280px;
    height: 50px;
    text-align: left;
}

footer {
    background-color: whitesmoke;
}

h1 {
    color: black;
    font-family: 'Point Panther';
    font-size: 30px;
    text-shadow: 1px 1px black;
    padding-top: 25px;
}

h2 {
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
}

ul {
    border: none;
    padding: 0;
    width: 100%;
}

li {
    display: inline;
}

.box {
    border: 1px solid black;
    border-color: #dd6667;
    height: 30px;
    width: 200px;
    margin-right: 0.5em;
    margin-top: 1em;
    margin-left: 5em;
}

.boxnav {
    border: 1px solid black;
    border-color: #dd6667;
    height: 30px;
    width: 50px;
    margin-right: 0.5em;
    margin-top: 1em;
    margin-left: 1em;
    text-align: center;
}

a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 3;
    color: black;
}


a:link, a:visited, a:focus {
    background: whitesmoke;
}

a:hover {
    background: orange;
}

a:active {
    background: red;
    color: white;
}

.container {
    width: 600px;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin: 1em auto;
    border-style: solid;
    border-radius: 10px;
    border-color: #dd6667 ;
}

.container2 {
    width: 900px;
    height: fit-content;
    background-color: whitesmoke;
    text-align: left;
    padding: 20px;
    margin: 1em auto;
    border-style: solid;
    border-radius: 10px;
    border-color: #dd6667 ;
}

.container2b {
    width: 767px;
    display: flex;
    background-color: whitesmoke;
    margin: 1em auto;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #000000;


}

.container2h {
    width: 767px;
    color: white;
    background-color: black;
    padding: 20px;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: black;
    text-align: center;
}

.container3 {
    width: 767px;
    height: 767px;
    display: flex;
    background-color: whitesmoke;
    margin: 1em auto;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #000000;

}

.form {
    color: black;
    font-size: 18px;
    text-align: left;
}

input {
    width: 250px;
    font-size: 18px;
    padding: 10px;
    margin: 5px 50px 10px 5px;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

.submit {
    width: 100px;
    text-align: center;
    font-size: 20px;
    border-style: solid;
    color: ghostwhite;
    background-color: black;
    border-radius: 1px;
}

.submit:hover {
    color: black;
    background-color: ghostwhite;
}

label {
    display: inline;
    font-size: 12px;

}

hr {
    border-color: black;
    border-width: 1px;
    border-style: dot-dash;
}
